# Prevent PyTorch model checkpoints
*.pt
*.pth
*.pkl
# Prevent Python cache directories and files
__pycache__/
*.pyc
*.pyo
*.pyd

# Remove the myfolder contents
myfolder/
tmp/
operations/
transformers/
